body{
    background: rgb(2,0,145);
    background: linear-gradient(90deg, rgba(2,0,145,1) 20%, rgba(160,0,0,1) 80%);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    
}
a{
    text-decoration: none;
    color: white;

}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 5px 195px white;
    border-bottom: 5px solid rgb(212, 212, 212);
    border-radius: 0 0px 22px 22px ;
}
.navbar_logo{
    margin-left: 25px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px white;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: rgb(251, 251, 251);
    border-radius: 10px;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_logo img{
    width: 100px;
    height: 100px;

}
.navbar .navbar_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
.navbar .navbar_menu ul li{
    margin: 0 10px;
}
.login-info{
    background-color: aquamarine;
    color: black;
}
.logout{
    padding: 5px;
    background-color: rgb(251, 255, 0);
}
.logout a{
    color: black;
}
.logout a:hover{
    background-color: azure;
    color: rgb(0, 0, 0);
}