body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form{
    width: 350px;
    height: 350px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 500px rgba(255, 255, 255, 0.756);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.login-form img{
    align-self: center;
    width: 100px;
    height: 100px;
}
.login-form input{
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 20px;
    
}
.login-form input:focus::content{
    outline:#157a01;
    border-color: #15a010;
    font-size: 16px;
}

.login-form input::placeholder{
    color: #8e93c0;
    font-size: 16px;
    position:absolute;
    margin-left: 3%;
}

.login-form button{
    height: 35px;
    border: none;
    background: #001eff;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    
}
.login-form button:hover{
    background: #157a01;
}
.login-form .links{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}
.login-form .links a{
    color: #2e060c;
    text-decoration: none;
    font-size: 16px;
}
.login-form .links a:hover{
    color: #000000;
    text-decoration:underline;
    box-shadow: 0 1px 1px #2c2424;
    border-radius: 10%;
    font-size: 16px;
}